.logo {
    width: 120px;
    height: 52px;
    border-radius: 5px;
    background-image: url("../images/logo.png");
    //圖片取代h1文字
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: 991px) {
        width: 95px;
        height: 41px;
        background-image: url("../images/logo-mobile.png");

    }
}