.navbar_switch {
  height: 88px;
  z-index: 100;
  .buy-btn_hover {
    &:hover {
      color: $secondary;
      box-shadow: 0px 3px 0px 0px black;
      transition: .3s;
    }
  }
  @media (max-width: 991px) {
    height: 64px;
  }
}